*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: black;
}


html{
	font-family: 'Open Sans', sans-serif;
}
#navbar{

	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	height: 75px;

}
#navbar ul{
	list-style-type: none;
	display: flex;
	align-items: center;
}

#navbar ul li a{
	padding: 0.5rem;
}

#navbar ul li a:hover{
	background:  #a0d43f;
	border-radius: 10px;
}
/*Home section*/
#home{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.8rem;
	border-bottom: 1px solid grey;

}
#home img {
	max-width: 100%;
	height: auto;
	border-radius: 100%;
}
#home .name h2{
	margin-bottom: 0.75;
}
#home .name p{
	opacity: 0.6;
	font-style: italic;
}


#Hakkımda {
	background: #C1E132;
	display: flex;
	align-items: center;
	
}

#Hakkımda .dersver{
	font-size: 25px;
	padding: 4rem;
}/**
#yazıBölümü{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	background: #C1E132;**/
}

#Hakkımda p{
	font-family:raleway-semibold,raleway,sans-serif;
	padding: 4rem;
}
#contact{
	color: #fff;
	padding: 1rem;
}
#contact .contact-form{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}
#contact .contact-form ul{
	list-style-type: none;
	display: flex;
	margin-top: 1rem;
	align-self: center;
}
#contact .contact-form ul li a{
	padding: 1rem;
	font-size: 2rem;
}
#contact .contact-form ul li a:hover{
	opacity: 0.65
}